1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [5]:
import numpy as np
import pandas as pd
arr=np.array([1,2,3,5])
print(arr)
df=pd.DataFrame(arr,columns=['array data'],index=['a','b','c','d'])
print(df)

[1 2 3 5]
   array data
a           1
b           2
c           3
d           5

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [10]:
df=pd.Series([1,2,3,5])
x=list(df)
print(x)
print(type(x))

[1, 2, 3, 5]
<class 'list'>

3. Write a Pandas program to compare the elements of the two Pandas Series.

In [13]:
s1=pd.Series([5,6,8,9])
s2=pd.Series([5,88,8,3])
for i in range(len(s1)):
    if s1[i]==s2[i]:
        print(s1[i])

5
8

4. Write a Pandas program to change the data type of given a column or a Series.

In [26]:
s1=pd.Series([5,6,8,9])
s2=pd.to_numeric(s1)
print(s2)

0    5
1    6
2    8
3    9
dtype: int64

5. Write a Pandas program to get the powers of an array values element-wise.

In [28]:
data={'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(data)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

6.Write a Pandas program to get the first 3 rows of a given DataFrame.

In [33]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df=pd.DataFrame(exam_data)
print(df.head(n=3))

        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes

In [42]:

data={ 'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],'t_id':['t1', 't2', 't3', 't4', 't5', 't6']}
df=pd.DataFrame(data)
df1=df.set_index('t_id')
df2=df1.reset_index()
print(df)
print(df1)
print(df2)

  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4
  t_id school_code class            name date_Of_Birth  weight  address
0   t1        s001     V  Alberto Franco    15/05/2002      35  street1
1   t2        s002     V    Gino Mcneill    17/05/2002      32  street2
2   t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
3   t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
4   t5        s002     V    Gino Mcneill    11/05/2002      31  street2
5   t6        s004    VI    David Parkes    15/09/1997      32  street4

9. Write a Pandas program to create a dataframe indexing by date and time.

In [43]:
dt_range = pd.date_range(start ='2020-05-12 07:10:10', freq ='S', periods = 10) 
df_dt = pd.DataFrame({"Sale_amt":[100, 110, 117, 150, 112, 99, 129, 135, 140, 150]},
                            index = dt_range)
print(df_dt)

                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 07:10:11       110
2020-05-12 07:10:12       117
2020-05-12 07:10:13       150
2020-05-12 07:10:14       112
2020-05-12 07:10:15        99
2020-05-12 07:10:16       129
2020-05-12 07:10:17       135
2020-05-12 07:10:18       140
2020-05-12 07:10:19       150

Write a Pandas program to create a dataframe and set a title or name of the index column.

In [45]:
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
                                index = ['t1', 't2', 't3', 't4', 't5', 't6'])
print("Original DataFrame:")
print(df)
df.index.name = 'Index_name'
print(df)

Original DataFrame:
   school_code class            name date_Of_Birth  weight  address
t1        s001     V  Alberto Franco    15/05/2002      35  street1
t2        s002     V    Gino Mcneill    17/05/2002      32  street2
t3        s003    VI     Ryan Parkes    16/02/1999      33  street3
t4        s001    VI    Eesha Hinton    25/09/1998      30  street1
t5        s002     V    Gino Mcneill    11/05/2002      31  street2
t6        s004    VI    David Parkes    15/09/1997      32  street4
           school_code class            name date_Of_Birth  weight  address
Index_name
t1                s001     V  Alberto Franco    15/05/2002      35  street1
t2                s002     V    Gino Mcneill    17/05/2002      32  street2
t3                s003    VI     Ryan Parkes    16/02/1999      33  street3
t4                s001    VI    Eesha Hinton    25/09/1998      30  street1
t5                s002     V    Gino Mcneill    11/05/2002      31  street2
t6                s004    VI    David Parkes    15/09/1997      32  street4

Write a Pandas program to select a specific row of given series/dataframe by integer index

In [57]:
import pandas as pd
data = {'school_code':['s001','s002','s003','s001','s002','s004'],'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],'weight': [35, 32, 33, 30, 31, 32],'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']}
df=pd.DataFrame(data)
print(df[1:2])

  school_code class          name date_Of_Birth  weight  address
1        s002     V  Gino Mcneill    17/05/2002      32  street2