1. Write a Python program to add an item to a tuple.

In [4]:
x=(1,2,3)
y=(4,5,6)
x=x+y
print(x)

(1, 2, 3, 4, 5, 6)

2.Write a Python program to sum all the items in a list.

In [13]:
x=[1,2,3,4]
y=0
for i in range(len(x)):
    y=y+x[i]
print(y)

10

3. Write a Python program to multiply all the items in a list.

In [14]:
x=[1,2,3,4]
y=1
for i in range(len(x)):
    y=y*x[i]
print(y)

24

4. Write a Python program to get the smallest number from a list.

In [18]:
x=[60,10,-10,1,2,3,4]
ymin=5000 ## largest expected number
for i in range(len(x)):
    if x[i]<ymin:
        ymin=x[i]
    else:
        pass
print(ymin)

-10

5. Write a Python program to get the largest number from a list.

In [56]:
x=[11,25,60,10,-10,1,2,3,4]
ymax=-5000 ## minimum expected number
for i in range(len(x)):
    if x[i]>ymax: 
     ymax=x[i]
    else:
        pass
print(ymax)

60

6. Write a Python program to count the number of strings from a given list of strings.

In [22]:
x=["ak","ndkjn","sj","kj"]
count=0
for i in range(len(x)):
    count=count+1
print(count)

4

7. Write a Python program to clone or copy a list

In [23]:
x=["ak","ndkjn","sj","kj"]
y=x
print(y)

['ak', 'ndkjn', 'sj', 'kj']

8. Write a Python program to remove item(s) from a given set.

In [35]:
x={1,2,3,4}
x.remove(2)
print(x)

{1, 3, 4}

9. Write a Python program to check if a set is a subset of another set.

In [41]:
x={1,2,3,7,4,5}
y={2,5,7,4,5,1,15,3,316}
if x<=y:
    print("x subset of y")
elif y<=x:
    print("y subset of x")
else:
    print("no subset")

x subset of y

10. Write a Python program to remove all elements from a given set

In [43]:
x={1,2,3,7,4,5}
x=x.clear
print(x)

<built-in method clear of set object at 0x000001BA75CDBD80>

11. Write a Python program to find the maximum and minimum values in a set.

In [57]:
x={1,2,5,6}
ymin=5000 ## largest expected number
x=list(x)
for i in range(len(x)):
    if x[i]<ymin:
        ymin=x[i]
    else:
        pass
print(f"the min value is :{ymin}")
ymax=-5000 ## minimum expected number
for i in range(len(x)):
    if x[i]>ymax: 
     ymax=x[i]
    else:
        pass
print(f"the max value is :{ymax}")

the min value is :1
the max value is :6

12. Write a Python program to find the index of an item in a tuple.

In [60]:
x=(1,2,3,4,5)
y=5 # required item
x=list(x)
indx=0
for i in range(len(x)):
    if x[i]==y:
        print(i)
        break
    else:
        pass

4

13. Write a Python program to convert a tuple to a dictionary.

In [61]:
tuplex=((2,"w"),(3,"TT"))
result_dict = dict((y, x) for x, y in tuplex)
print(result_dict)

{'w': 2, 'TT': 3}

14. Write a Python program to unzip a list of tuples into individual list

In [62]:
l = [(1, 2), (3, 4), (8, 9)]

result = list(zip(*l))

print(result)

[(1, 3, 8), (2, 4, 9)]

15. Write a Python program to reverse a tuple.

In [70]:
x=(1,2,3,4)
x=list(x)
x.reverse()
y=tuple(x)
print(y)

(4, 3, 2, 1)

16. Write a Python program to convert a list of tuples into a dictionary.

In [74]:
l =[(1,"m"),(2,"g"),(4,"t")]
m=tuple(l)
result_dict = dict((x, y) for x, y in m)
print(result_dict)

{1: 'm', 2: 'g', 4: 't'}

17. Write a Python program to replace the last value of tuples in a list.

In [88]:
r ="hello amit"

print(r.replace("hello","kareem"))

kareem amit

18. Write a Python program to sort a tuple by its float element.

In [89]:
def Sort(tup): 
    # reverse = True (Sorts in Descending order) 
    # key is set to sort using float elements 
    # lambda has been used 
    return(sorted(tup, key = lambda x: float(x[1]), reverse = True)) 
  
# Driver Code 
tup = [('lucky', '18.265'), ('nikhil', '14.107'), ('akash', '24.541'),  
    ('anand', '4.256'), ('gaurav', '10.365')] 
print(Sort(tup))

[('akash', '24.541'), ('lucky', '18.265'), ('nikhil', '14.107'), ('gaurav', '10.365'), ('anand', '4.256')]