#### Multiply 10 with 5, and print the result.

In [1]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [2]:
print(10/5)

2.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [7]:
fruits=["apple","banana"]
if "apple" in fruits:
  print("Yes ,apple in a fruit!")

Yes ,apple in a fruit!

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [8]:
if 5!=10:
  print(" 5 and 10 is not equal")

 5 and 10 is not equal

### Use the correct logical operator to check if at least one of two statements is `True`.

In [9]:
if 5==10 or 4==4:
  print("The statements is true ")

The statements is true

### Print the second item in the fruits list.

In [10]:
fruits=["apple","banana","cherry"]
print(fruits[1])

banana

### Change the value from "apple" to "kiwi", in the fruits list.

In [11]:
fruits=["apple","banana","cherry"]
fruits[0]="kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

### Use the append method to add "orange" to the fruits list.

In [13]:
fruits.append("orange")

In [14]:
print(fruits)

['kiwi', 'banana', 'cherry', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [16]:
fruits=["apple","banana","cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

### Use the remove method to remove `"banana"` from the fruits list.

In [18]:
fruits=["apple","banana","cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

### Use negative indexing to print the last item in the list.

In [19]:
fruits=["apple","banana","cherry"]
print(fruits[-1])

cherry

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [21]:
fruits=["apple","banana","apple","banana","cherry","banana"]
print(fruits[2:5])

['apple', 'banana', 'cherry']

### Use the correct syntax to print the number of items in the list.

In [22]:
len(fruits)

6

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [37]:
x=[1,3,5,6,7,9]

In [40]:
x[6]

IndexError: list index out of range

In [38]:
len(x)

6

In [53]:
numbers = [
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]
# for x in numbers:
#   if x==237:
#     break
#   elif x%2 ==0:
#     print(x)
# for  x in range(len(numbers)):
#   if numbers[x]==237:
#     break
#   elif x%2==0:
#     print(numbers[x])

index=0
while numbers[index] !=237:
  if numbers[index]==418:
    break
  else:
    print(numbers[index])
  index+=1

386
462
47

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [55]:
def calaculate_triangle_area(base,height):
  return 0.5 * base * height
b= int(input("Input the base : "))
h= int(input("Input the base : "))
area=calaculate_triangle_area(b,h)
print("area = ",area)

Input the base : 10
Input the base : 20
area =  100.0

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [2]:
def add(n,n1,n3):
  print(n+n1)
  return n ,n1,n3

In [3]:
a1,a2,a3=add(10,11,12)

21

In [11]:
print(n)

NameError: name 'n' is not defined

In [5]:
print(a1)

10

In [12]:
x=int(input("Input first number: "))
y=int(input("Input second number :"))
z=int(input("Input  thrid number :"))
def sort_numbers(x,y,z):
  a1=min(x,y,z)
  a3=max(x,y,z)
  a2=(x+y+z)-a1-a3
  return a1,a2,a3
sort_numbers()

Input first number: 10
Input second number :20
Input  thrid number :30

In [10]:
# x=int(input("Input first number: "))
# y=int(input("Input second number :"))
# z=int(input("Input  thrid number :"))
# def sort_numbers(x,y,z):
#   a1=min(x,y,z)
#   a3=max(x,y,z)
#   a2=(x+y+z)-a1-a3
#   return a1,a2,a3
# nm1,num_2,num_3=sort_numbers(x,y,z)
# print("Number in sorted order",nm1,num_2,num_3)

x=int(input("Input first number: "))
y=int(input("Input second number :"))
z=int(input("Input  thrid number :"))
def sort_numbers(x,y,z):
  a1=min(x,y,z)
  a3=max(x,y,z)
  a2=(x+y+z)-a1-a3
  return f" {a1} {a2} {a3}"
sort_numbers(x,y,z)

Input first number: 10
Input second number :20
Input  thrid number :30

' 10 20 30'


### Sort three integers :using conditional statements

In [56]:
x=[11,2,7]
if x[0]<x[1] and x[0]<x[2]:
    if x[1]<x[2]:
        y=[x[0],x[1],x[2]]
    else:
        y=[x[0],x[2],x[1]]
else:
    if x[1]<x[0] and x[1]<x[2]:
        if x[0]<x[2]:
             y=[x[1],x[0],x[2]]
        else:
            y=[x[1],x[2],x[0]]
    else:
        if x[2]<x[0] and x[2]<x[1]:
            if x[0]<x[1]:
                y=[x[2],x[0],x[1]]
            else:
                y=[x[2],x[1],x[0]]
print(y)

[2, 7, 11]

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [5]:
z=[]
y=int(input("Enter len of list :\n"))
for i in range(y):
  x=float(input("Enter  number :\t"))
  z.append(x)
print(len(z),len(set(z)))
if len(z)==len(set(z)):
  print("True")
else:
  print("False")

Enter len of list :
4
Enter  number :	1
Enter  number :	1
Enter  number :	2
Enter  number :	3
4 3
False

#### Dictionary

In [ ]:
dict1 = {'a': 100, 'b': 200, 'c': 300}
list(dict1.keys())

['a', 'b', 'c']

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.values())

[200, 300]

In [ ]:
dict1 = {'a': 100, 'a': 200, 'c': 300}
list(dict1.items())

[('a', 200), ('c', 300)]

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [ ]:
sum([0,1,2,3,4,5])
sum((0,1,2,3,4,5))
sum({0,1,2,3,4,5})
sum({5:5,10:11})

15

### Python program to find the sum of all values in a dictionary

In [7]:
x={"key1":5,"key2":10,"key3":15,"key4":15}
a=list(x.values())
m=0
for i in range(len(a)):
    m=m+a[i]
print(m)

45

### Filter the negative values from given dictionary

In [19]:
x={"key1":5,"key2":10,"key3":-15,"key4":15}
for k in list(x):
    if x[k] <0:
        del x[k]
print(x)

{'key1': 5, 'key2': 10, 'key4': 15}

### Test if all Values are Same in Dictionary

In [26]:
x={"key1":5,"key2":5,"key3":5,"key4":5}
k=list(x)
c=0
for i in list(x):
    if x[k[0]]==x[i]:
        pass
    else:
        c=1
if c==1 :
    print("value not equal")
else:
        print("value equal")

value equal

### test_dict = {"Gfg": 8, "is": 5, "Best": 5}
### False

# `any`

In [ ]:
mylist = [False, True, False]
x = any(mylist)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 1 : "Orange"}
x = any(mydict)
print(x)

True

In [ ]:
mydict = {0 : "Apple", 0 : True}
x = any(mydict)
print(x)

False

#### <font color='gold'>Note: When used on a dictionary, the any() function checks if any of the keys are true, not the values.</font>

### Test if vlaue input  in dictionary value

In [53]:
x={"key1":5,"key2":10,"key3":15,"key4":15}
y=list(x.values())
m=int(input("insert the required value  "))
v=0
for i in range(len(y)):
    if m==y[i]:
        v=1
        break
    else:
        pass
if v==1:
    print("the value in dic")
else:
    print("the value not in dic")

insert the required value  15
the value in dic

### Calculate the sum of all numbers from 0 to a given number

In [49]:
x=int(input("insert the number  "))
m=0
for i in range(x+1):
    m=m+i
print(m)

insert the number  5
15

### Find the factorial of a given number using while loop

In [66]:
i=7 # the number
m=i
while i>1:
    m=m*(i-1)
    i=i-1
print(m)

6
5
4
3
2
1
5040

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

### Calculate the cube of all numbers from 1 to a given number

### len of str in list
### ['apple', 'orange', 'cat']

In [ ]:
l = ['apple', 'orange', 'cat']
print([ len(i) for i in l])

[5, 6, 3]

### program to count number of vowels using sets in given string


### Write a Python program to add an item to a tuple.

In [48]:
x=(1,2,3,5,9)
y=list(x)
y.append(10)
m=tuple(y)
print(m)

(1, 2, 3, 5, 9, 10)

### Write a Python program to multiply all the items in a list.

In [41]:
x=[1,2,3,5,9]
m=1
for i in range(len(x)):
    m=m*x[i]
print(m)

270

### Write a Python program to get the smallest number from a list.

In [39]:
x=[1,2,3,5,9]
print(min(x))

1

### Write a Python program to get the largest number from a list.

In [38]:
x=[1,2,3,5,9]
print(max(x))

9

### Write a Python program to clone or copy a list

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [37]:
s = set([0, 1, 3, 4, 5])
s.remove(3)
print(s)

{0, 1, 4, 5}

### Write a Python program to find the maximum and minimum values in a set.

In [33]:
x={1,2,3}
print("max is  ",max(x))
print("min is  ",min(x))

max is   3
min is   1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]